<% if notice %>
  <div class="alert alert-info alert-dismissible" role="alert">
    <h2 class=text-center><%= notice %></h2>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <%= alert %>
  </div>
<% end %>
