
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');


body{
  background-color: #999999;
  font-family: 'Rowdies', cursive;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1700&q=80");
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}

#rowdies-font {
  font-family: 'Rowdies', cursive;
}
