.alert {
  padding: 16px 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
  z-index: 1000;
}

.alert-success {
  border: 2px solid #1EDD88;
}

.alert-warning {
  border: 2px solid #FFC65A;
}

.alert-danger {
  border: 2px solid #FD1015;
}
