.lessons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
}

.lesson-card {
  font-family: 'Rowdies', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid transparent;
  border-radius: 16px;
  margin-bottom: 0.5rem;
  margin-left: 16px;
  max-width: 25%;



  .card-img {
    height: 130px;
    overflow: hidden;
    margin: 8px;
    border-radius: 16px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

  .jedi{
    background-color: #fff;
    border: 0.2rem solid #07cf18;
    box-shadow: 0 0 .2rem #07cf18,
              0 0 .2rem #07cf18,
              0 0 2rem #07cf18,
              0 0 0.8rem #07cf18,
              0 0 2.8rem #07cf18,
              inset 0 0 1.3rem #07cf18;
  }

  .sith{
    background-color: black;
    color: white;
    border: 0.2rem solid #a80404;
    box-shadow: 0 0 .2rem #a80404,
              0 0 .2rem #a80404,
              0 0 2rem #a80404,
              0 0 0.8rem #a80404,
              0 0 2.8rem #a80404,
              inset 0 0 1.3rem #a80404;
  }
