.booking-actions {
  display: flex;
}

.booking-buton {
  margin-right: 12px;
  margin-top: 12px;
  margin-bottom: 16px;
}

.text-light {
  padding-left: 3rem;
}

.lessons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  padding: 3rem;
}

