  <nav class="navbar navbar-light bg-light">
    <%= link_to "Homepage", root_path, class: "btn btn-primary navbar-brand"  %>
    <form class="form-inline d-flex">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
